<div id="notificacao"></div>
<div class="top">
  <button id="menu_bar">
    <span class="material-symbols-outlined">menu</span>
  </button>

  <div id="themeToggler" class="theme-toggler">
    <span id="iconLight" class="material-symbols-outlined">light_mode</span>
    <span id="iconDark" class="material-symbols-outlined">dark_mode</span>
  </div>

  <div class="profile">
    <p><b id="nomeUsuario"></b></p>
    <p id="cargoUsuario"></p>
    <small class="text-muted"></small>
  </div>
  <div class="profile-photo">
    <img src="./src/images/profile.webp" alt="" />
  </div>
</div>

<div class="lembretes">
  <h2>Lembretes</h2>
  <div class="item">
    <textarea name="lembretes" id="lembretes"></textarea>
  </div>
</div>
