<div class="top">
  <div class="logo">
    <h2><span class="danger">SEE </span>CARPINA</h2>
  </div>
  <div class="close" id="close_btn">
    <span class="material-symbols-outlined">close</span>
  </div>
</div>

<div class="sidebar">
  <a href="/">
    <span class="material-symbols-outlined">grid_view</span>
    <h3>Dashaboard</h3>
  </a>

  <a href="./oficios">
    <span class="material-symbols-outlined">description</span>
    <h3>Ofícios</h3>
  </a>

  <a href="./contratos" data-role="ADM,GERENTE">
    <span class="material-symbols-outlined">handshake</span>
    <h3>Contratos e ARPS</h3>
  </a>

  <a href="./servidores" data-role="ADM,GERENTE">
    <span class="material-symbols-outlined">person_play</span>
    <h3>Servidores</h3>
  </a>

  <a href="./universitarios">
    <span class="material-symbols-outlined">school</span>
    <h3>Universitários</h3>
  </a>

  <a href="./configuracoes">
    <span class="material-symbols-outlined">settings</span>
    <h3>Configurações</h3>
  </a>

  <a href="./usuarios" data-role="ADM">
    <span class="material-symbols-outlined">groups</span>
    <h3>Usuários</h3>
  </a>

  <a href="#" id="logout">
    <span class="material-symbols-outlined">logout</span>
    <h3>Logout</h3>
  </a>
</div>
