<div class="top">
  <div class="logo">
    <h2><span class="danger">SEE</span>CARPINA</h2>
  </div>
  <div class="close" id="close_btn">
    <span class="material-symbols-outlined">close</span>
  </div>
</div>

<div class="sidebar">
  <a href="/">
    <span class="material-symbols-outlined">grid_view</span>
    <h3>Dashaboard</h3>
  </a>

  <a href="./oficios">
    <span class="material-symbols-outlined">list</span>
    <h3>Ofícios</h3>
  </a>

  <a href="./configuracoes">
    <span class="material-symbols-outlined">settings</span>
    <h3>Configurações</h3>
  </a>

  <a href="#" id="logout">
    <span class="material-symbols-outlined">logout</span>
    <h3>Logout</h3>
  </a>
</div>
