<div class="top">
  <div class="logo">
    <h2><span class="primary">SEE </span>CARPINA</h2>
  </div>

  <div class="close" id="close_btn">
    <span class="material-symbols-outlined"> close </span>
  </div>
</div>

<div class="sidebar glass" id="menuSidebar">
  <div class="sidebar-loading">
    <svg class="svg-spinner" viewBox="0 0 50 50">
      <circle
        class="path"
        cx="25"
        cy="25"
        r="20"
        fill="none"
        stroke-width="4"
      />
    </svg>
  </div>
</div>
